@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "SUSE", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url(imagenes/th.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgb(241, 204, 154);
  font-size: 25px;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;

}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: aliceblue;
  display: block;
  font-weight: 600;
} 

.menu .navbar ul li a:hover{
  color: #ce967b;
}
#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  text-align: center;

}

.header-content h1{
  font-size: 75px;
  line-height: 80px;
  color: #898b89;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.header-content p {
  font-size: 16px;
  color: #c5c5c5;
  padding: 0 250px;
  margin-bottom: 25px;

}

.btn-1 {
  display: inline-block;
  padding: 11px 35px;
  background-color: #ce967b;
  color: #f9fafc;
  text-transform: uppercase;
}

.btn-1:hover {
  background-color: #ce967b;
}

.biodi {
  padding: 100px 0;
  background-color: #9c9d9e;
  position: relative;
}

.biodi-content {
  text-align: center;
}

.biodi-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #313233;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 15px;
}

.txt-p {
  font-size: 16px;
  color: #000000;
  padding: 0 250px;
  margin-bottom: 35px;
}

.biodivesidad-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.biodi-1 {
  padding: 0 25px;
}

.biodi-1 img{
  width: 200px;
}

.biodi.img {
  position: absolute;
  top: 0;
  right: 0;
}

.biodi-1 h3 {
  color: #323337;
  font-size: 20px;
  margin-bottom: 15px;
}

.informacion {
  background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url(imagenes/imagen\ 17.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.informacion-content {
  text-align: center;
}

.informacion-content h2 {
  font-size: 40px;
  line-height: 70px;
  color: #f9fafc;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.informacion-content h3 {
  font-size: 40px;
  line-height: 50px;
  color: #f9fafc;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.informacion-content p {
  font-size: 16px;
  color: #c5c5c5;
  margin-bottom: 20px;
  padding: 0 100px;
}

.informacion-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.informacion-1 {
  padding: 0 100px;
}

.general {
  display: flex;
}

.general-1 {
  width: 50%;
  padding: 100px 250px 100px 100px;
  background-color: #E1E2E6;
}

.general-2 {
  background-image: url(imagenes/anturio\ negro.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.general-3 {
  background-image: url(imagenes/Captura\ de\ pantalla\ \(5\).png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

h1 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #414247;
  margin: 25px 0 45px 0;
}

@media(max-width:900px) {
  
  .menu {
    padding: 30px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #323337;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .header {
    min-height: 0vh;
  }

  .header-content {
    padding: 100px 30px;
  }

  .header-content p {
    padding: 0;
  }

  .biodi {
    padding: 30px;
  }

  .biodi-content h2 {
    padding: 0;
  }

  .txt-p {
    padding: 0;
  }

  .biodivesidad-group {
    flex-direction: column;
    margin-bottom: 0;
  }

  .biodi-img {
    display: none;
  }

  .informacion {
    padding: 30px;
  }

  .informacion-content p {
    padding: 0;
  }

  .informacion-group {
    flex-direction: column;
    margin-bottom: 0;
  }

  .informacion-1 {
    margin-bottom: 25px;
  }

  .general { 
    flex-direction: column;
  }

  .general-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }



}